html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body{
    background:url('http://ricardoamb.github.io/settings/error_background.jpg') center center no-repeat;
    background-size:cover;
}

#main-content {
    display:grid;
    align-items:center;
    width:100%;
    height:100%;
    background:rgba(105,0,168,0.8);
}

h1 {
    color: white;
}
h2 {
    color:white;
    font-size:28px;
}
p.display-4 {
    margin:15px 15% 0 15%;
    padding:10px 20px;
    font-size:22px;
    color:#6900a8;
    background:rgba(255,255,255,.8);
}